; Peer dependencies are a nightmare. Make them less so.
strict-peer-dependencies=false
; Prevent pnpm publish from running if you aren't on the specified branch.
publish-branch=main
; Default to only allowing patch `~` instead of minor `^` upgrades.
save-prefix="~"
; Verify the integrity of installed dependencies. PNPM `npm audit signatures` equivalent (https://github.com/pnpm/pnpm/issues/6435)
provenance=true

; Set github registry (Add `GITHUB_TOKEN` to `.bashrc`)
@sidisinsane:registry=https://npm.pkg.github.com
//npm.pkg.github.com:_authToken=${GITHUB_TOKEN}
; Set npmjs registry (Add `NPM_TOKEN` to `.bashrc`)
@humanuals:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
